<!DOCTYPE html>
<html>
<head>
  <title>Delta Chi Website</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="width=1024" name="viewport">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" name="top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand active" href=".">Missouri Delta Chi</a>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to "About", about_path %></li>
        <li><%=link_to "Involvement", involvement_path %></li>
        <li><%=link_to "Meet Us", meet_path %></li>   
        <li><%=link_to "Recruitment", recruitment_path %></li>  
        <!--<li><%=link_to "Active", actives_path %></li>-->
        <li><%=link_to "Alumnus", alumni_path %></li>
        <li><%=link_to "Contact", contact_path %></li>
        <li><%=link_to "Login", home_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>


<%= yield %>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p><center>Copyright &copy; Missouri Delta Chi Fraternity 2013 &middot; <a href="https://www.facebook.com/groups/283220051767939/">Facebook</a> &middot; <a href="https://twitter.com/MizzouDeltaChi">Twitter</a> &middot; <a href="#">Google+</a></center></p>
          <!-- </div>
          <a href="#top" id="scroll-top-link" class="avia-font-entypo-fontello avia_pop_class">Top</a>
        </div> -->
      </footer>
</body>
</html>
